carla==0.9.14
docker_py==1.10.6
gym==0.26.2
kornia==0.7.1
lap==0.4.0
matplotlib==3.7.5
motmetrics==1.4.0
numpy==1.24.4
opencv_python==4.9.0.80
Pillow==10.2.0
scipy==1.10.1
tensorboard==2.14.0
tqdm==4.66.2
